* {
    box-sizing: border-box
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: black;
    background: #ecdada;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
    width: 50vw;
    border-color: lightgray;
    border-bottom-style: groove;
    border-top-style: groove;
    border-left-style: groove;
    border-right-style: groove;
    border-radius: 10px;
    font-size: 4rem;
    font-family: Georgia, serif;
    text-align: center;
    font-style: italic;
    color: white;
    margin: 0 auto;
}

h2 {
    background-image: linear-gradient(120deg, #ff8080 0%, #ffb3b3 100%);
    width: 40vw;
    border-color: lightgray;
    border-bottom-style: groove;
    border-top-style: groove;
    border-left-style: groove;
    border-right-style: groove;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: Georgia, serif;
    text-align: center;
    font-style: italic;
    color: white;
    margin: 0 auto;
}

p {
    width: 40vw;
    border-color: lightgray;
    border-style: groove;
    text-align: center;
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
    padding: 5px 5px;
    font-size: 1.5rem;
    color: white;
    border-radius: 8px;
    font-family: "Helvetica", serif;
    font-style: italic;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}

ul {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

li{
    font-size: 1.5rem;
    font-family: Georgia, serif;
    text-align: center;
    font-style: italic;
    color: rgb(216, 121, 137);
}

img{
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    border: 8px ridge rgb(216, 121, 137);  
    padding: 5px;  
}

img.page2 {
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    border: 8px ridge rgb(216, 121, 137);  
    padding: 5px;
    width: 40%;
}

img.page3 {
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    border: 8px ridge rgb(216, 121, 137);  
    padding: 5px;
    width: 20%;
}

/* svg.index {
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    border: 8px ridge rgb(216, 121, 137);  
    padding: 5px;
    width: 20%; 
} */

.link:hover {
    text-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -5px, 0);
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

